.explainList {
    list-style: none;
    margin: auto;
    padding: auto;
}
.explainList > .element {
   /* background-color: forestgreen;*/
     display:table;
    margin: 10px auto;
    padding:10px auto;
}